.top-buffer {
    margin-top: 20px;
}
    
.about-page {
   position: relative;
   top: -20px;
}
    
.about-page .jumbotron {
   margin: 0;
   background: rgba(9,69,95,0.8);
   color: white;
   border-radius: 0 !important;
}
    
/*React apply activeClassName to <a> element, but Bootstrap active class is over <li> element*/
.navbar .nav .active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
   background: #e7e7e7 !important;
   color: #333 !important;
}

.avatar {
    max-width: 80px;
}


/*
    Card area CSS
*/

body {
    font: 0.9em/1.2em Verdana;
    color: #444;
    margin: 1em 1.5em;
}

.cardRecord {
    min-height: 140px;
    background: rgba(255, 255, 255, .08);
    padding: 5px;
    margin: 0;
    border-bottom: 1px black solid;
}

.cardList {
    text-align: left;
}

.cardResults {
    padding: 25px 2rem 0 2rem;
}

.cardName {
    font-size: 1.5em;
    
}
a {
    color: #4666BC;
}
p {
    margin: 0.5em 0;
}
p.ctext {
    background-color: #fff;
    padding: 4px;
    font-weight: bold;
}

li.restricted {
    color: #B98420;
}
li.banned {
	color: #672121;
}
li.legal {
	color: #216728;
}
.printings {
    text-decoration: underline;
    font-weight: bold;
}